/*General*/
p, a, h1, h2, h3, li {
    font-family: "Segoe UI",Arial,sans-serif,'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI",Arial,sans-serif; 
}

/*LeftSide*/
.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.row .col-2t {
    width: 100%;
    height: 95vh;
}

.row .col-2t .left-col {
    background: #00acee;
    height: 95vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .col-2t .left-col ul li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.5em;
    margin: 50px 0;
    font-weight: bold;
    color: #fff
}

.row .col-2t .left-col ul li .twit_icon{
    font-size: 1.5em;
    margin-right: 12px;
    font-weight: none;
    
}

/*RightSide*/
.row .col-2t .right-col {
    background: #fff;
    margin: 0px;
    margin-top:0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row .col-2t .right-col .space {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.row .col-2t .plus{
    margin: auto;
    margin-top: 32px;
    justify-content: center;
    display: inline-block;    
}

.row .col-2t .topright {
    
    display: flex;
    font-size: 1em;    
    
}

.row .col-2t .right-col .space .twit_logo{
    display: flex;
    font-size: 2em;
    margin-top: 80px;
}

button.btn {
    display: block;
    font-size: 1em;
    line-height: 1.25em;
    padding: 0.375em 1em;
    border-radius: 100px;
    font-weight: bold;
    border: 1px;
    outline: none;
    border: 1px solid #1da1f2;    
}

button.white:hover{
    background: #e6f4ff
}

button.white.edge:hover{
    background: #e6f4ff;
}

button.white.edge{
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 6px 16px;
    text-align: center;
    display: inline-block;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

button.blue:hover{
    background: #0073e6;
}

button.size {
    width: 80%;
}

button.blue {
    background: #00acee;
    color: #fff;
}

button.white {
    background: #fff;
    color: #00acee;   
}

input[type="text"] {
    box-sizing: border-box;
    margin-top: 12px;
    padding: 12px;
    width: 210px;
    display: inline-block;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
}

input[type="password"] {
    margin-top: 12px;
    padding: 12px;
    width: 210px;
    display: inline-block;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    text-align: start;
    cursor: text;
}

/*Footer*/
.footer.bottom {
    background: #fff;
    color: #aab8c2;
    border-top: .02px solid #aab8c2;
}

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    overflow: hidden;
    margin: auto;
    margin-left: 190px;
    padding: 0;    
}

ul.footnav li{
    list-style: none;
    float: left;
    padding: 6px;
    font-size: 12px;
}

ul.footnav li a{
    display: block;
    text-decoration: none;
    min-height: 5px;
    text-align: center;
    padding: 6px;
    color: #aab8c2;
    font-size: 12px;
}

ul.footnav li a:hover{
    text-decoration: underline;
}

.wmk {
  height: 95%;
  width: 50%;
  position: absolute;
  overflow: hidden;   
}

.wmk p {
    position: absolute;
    top: 0;
    left: -60%;
    color: #fff;
    font-size: 125px;
    margin: 0px;
    transform: rotate(-45deg);
    max-height: 0%;
    max-width: 10%;
    line-height: 1.5em;
    letter-spacing: 5px;
    opacity: 0.3
}


.wmkR {
  height: 80%;
  width: 50%;
  position: absolute;
  overflow: hidden;   
}
.wmkR p {
    position: absolute;
    top: 0;
    left: -30%;
    color: #fff;
    font-size: 150px;
    margin: 0px;
    transform: rotate(-45deg);
    max-height: 0%;
    max-width: 10%;
    line-height: 1.5em;
    letter-spacing: 5px;
    opacity: 0.3
}